.button-container {
    text-align: center;   
}

.modal-cont {
    height: 417px;
    width: 40%;
    display: flex;
    background-color: #E9E9E9;
    align-items: center;
    justify-content: center;
}
